  <h1>Статьи</h1>

<section id='posts'>
  <% cache @posts do %>
    <%= render @posts %>
  <% end %>
</section>


<%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center') %>
